.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $complementaryColor;
  font-size: 24px;
  line-height: 1.4;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
  &__accent {
    color: $accentColor;
  }
}

.logo--white {
  color: $secondaryColor;
}

.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
  &__list {
    display: flex;
    margin-left: 93px;
    @media screen and (min-width: 768px) {
      margin-left: 88px;
    }
  }
  &__item:not(:last-child) {
    margin-right: 52px;
  }
  &__link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    color: $primaryColor;
  }

  &__link--current {
    position: relative;
    color: $accentColor;
  }

  &__link--current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0px;
    border-radius: 2px;
    background-color: $accentColor;
  }
}

.connection {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  margin-left: auto;
  &__list {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item:first-child {
    @media screen and (max-width: 1199px) {
      margin: 0 0 10px;
    }
  }

  &__item--margin-right {
    margin-right: 30px;
  }

  &__link {
    @extend %link;
    color: $titleColor;
    display: inline-flex;
    align-items: center;
    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
    @media screen and (max-width: 1199px) {
      margin-right: 8px;
      width: 14px;
      height: 10px;
    }
  }
  &__icon--sizes {
    @media screen and (max-width: 1199px) {
      width: 10px;
      height: 14px;
    }
  }
}
