.section {
    padding: 94px 0;
    background-color: $secondaryColor;


&__title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}}
.section--nopadding {
    padding-top: 0;
}
.section--bgc {
    background-color: $background-iconColor;
}