$primaryColor: #212121;
$secondaryColor: #ffffff ;
$titleColor:#757575;
$accentColor: #2196f3;
$borderColor: #ececec;
$complementaryColor: #000000;
$backgroundColor: #2f303a;
$backgroundAccent: #188ce8;
$background-iconColor: #f5f4fa;

